@model Store

@{
    ViewData["Title"] = "Delete Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Stores" asp-action="Index">Stores</a></li>
    <li class="active">Delete Store</li>
</ul>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default k-button k-primary" />
            <a asp-action="Index" class="btn btn-default k-button">Back to List</a>
        </div>
    </form>
</div>